body {
    font-family: Arial, sans-serif;
    background-color: #111727;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: #111727;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #ddd;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
    color: #ddd;
    margin-right: 10px;
}

button {
    padding: 5px 10px;
    background-color: #111727;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

script {
    color: #ddd;
}
