@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "poppins", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #12307d;
  margin: 0;
}

header {
  background-color: #fff;
  color: #fff;
  padding: 50px 0;
  position: fixed;
  top: 0;
  width: 100%;
}

h2 {
  color: #fff;
  position: absolute;
  left: 12%;
  top: 20%;
}

.div-opcoes {
     
    display: flex;
    justify-content: space-between;
}

.nav-opcoes {
    
  position: fixed; /* Fixa a navegação na tela */
  top: 40%; /* Posiciona a navegação no centro vertical da tela */
  left: 12%; /* Distância da esquerda da tela */
  transform: translateY(-50%); /* Centraliza verticalmente */
  border-radius: 20px; /* Adiciona bordas redondas */
  padding: 10px; /* Espaçamento interno */
  display: flex;
 
}

.btn-opcoes {
  background: rgb(0, 76, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 76, 255, 1) 0%,
    rgba(48, 48, 246, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #fff; /* Cor do texto dos botões */
  border: none; /* Remove a borda dos botões */
  border-radius: 10px; /* Adiciona bordas redondas aos botões */
  padding: 5px 10px; /* Espaçamento interno dos botões */
  cursor: pointer; /* Altera o cursor para um ponteiro ao passar sobre os botões */
  font-weight: bolder;
  
}

/* Estilos para o texto dentro dos botões */
/* .btn-opcoes:hover {
    background-color: #0a1c486a; /* Cor de fundo ao passar o mouse sobre os botões
}  */

ul {
  color: #12307d;
  right: 12%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
}
#divBuscar {
  background-color: #e0eeee;
  right: 40%;
  border-radius: 10px;
  width: 300px;
  height: 32px;
  position: absolute;
  cursor: pointer;
}

#txtBusca {
  float: left;
  right: 20%;
  font-weight: bold;
  background-color: transparent;
  padding-left: 5px;
  font-size: 13px;
  border: none;
  height: 32px;
  width: 191px;
  cursor: pointer;
}

#btnBusca {
  border: none;
  float: left;
  height: 32px;
  right: 20%;
  top: 10%;
  padding-left: 5px;
  width: 80px;
  font-weight: bold;
  color: #12307d;
  background-color: transparent;
  cursor: pointer;
}

::placeholder {
  color: #12307d;
  opacity: 0.5;
}

.btn-entrar .nav-entrar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 8px 10px;
  background-color: #12307d;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: fixed;
  top: 6%;
  right: 15%;
  cursor: pointer;
}

.todos {
  text-decoration: none;
  padding: 8px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  margin: 0 5px;
  color: #12307d;
  font-weight: bold;
  position: absolute;
  left: 15%;
}

.pop {
  text-decoration: none;
  padding: 8px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  margin: 0 5px;
  color: #12307d;
  font-weight: bold;
  position: absolute;
  left: 28%;
}

.rock {
  text-decoration: none;
  padding: 8px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  margin: 0 5px;
  color: #12307d;
  font-weight: bold;
  position: absolute;
  left: 30%;
}

#mais {
  text-decoration: none;
  padding: 8px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  margin: 0 5px;
  color: #12307d;
  font-weight: bold;
  position: absolute;
  left: 38%;
}
